In [11]:
import init_notebooks
from data.load_data import load_data

In [12]:
df = load_data('raw')

df.head()

,HH1,HH2,HL1,HL3,HL4,HL5M,HL5Y,HL6,HL7,HL8,...,windex5,windex10,wscoreu,windex5u,windex10u,wscorer,windex5r,windex10r,PSU,stratum
0,1.0,1.0,1.0,CHEF,MASCULIN,NSP,1977.0,41.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,2.0,CONJOINT / PARTENAIRE,FEMININ,JUIN,1979.0,39.0,OUI,2.0,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,3.0,FILS / FILLE,MASCULIN,JANVIER,2001.0,17.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,4.0,FILS / FILLE,FEMININ,SEPTEMBRE,2003.0,14.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,5.0,FILS / FILLE,FEMININ,AVRIL,2006.0,12.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN

In [15]:
print(df['HH7'].value_counts())

HH7
ATSIMO ATSINANANA      5581
VATOVAVY FITOVINANY    5538
ATSIMO ANDREFANA       5259
VAKINANKARATRA         5118
HAUTE MATSIATRA        4748
ANALAMANGA             4490
ANDROY                 4167
BONGOLAVA              3693
SOFIA                  3602
ATSINANANA             3571
ANOSY                  3527
MENABE                 3434
ITASY                  3421
BETSIBOKA              3389
ALAOTRA MANGORO        3371
IHOROMBE               3265
AMORON'I MANIA         3252
BOENY                  2860
DIANA                  2854
MELAKY                 2609
SAVA                   2593
ANALANJIROFO           2533
Name: count, dtype: int64

In [3]:
df.shape

(82875, 96)

In [4]:
df.columns

Index(['HH1', 'HH2', 'HL1', 'HL3', 'HL4', 'HL5M', 'HL5Y', 'HL6', 'HL7', 'HL8',
       'HL9', 'HL10', 'HL11', 'HL12', 'HL13', 'HL14', 'HL15', 'HL16', 'HL17',
       'HL18', 'HL19', 'HL20', 'HL20A', 'HL20BA', 'HL20BB', 'HL20BC', 'HL20BD',
       'HL20BE', 'HL20BX', 'HL20BNR', 'HL33', 'HL39', 'ED1', 'ED2A', 'ED3',
       'ED4', 'ED5A', 'ED5B', 'ED6', 'ED7', 'ED8', 'ED9', 'ED10A', 'ED10B',
       'ED11', 'ED12', 'ED13A', 'ED13B', 'ED13C', 'ED13X', 'ED13Z', 'ED13NR',
       'ED14', 'ED15', 'ED16A', 'ED16B', 'TNLN', 'TN3', 'TN4', 'TN5', 'TN10',
       'TN12', 'TN13', 'TN15_1', 'TN15_2', 'TN15_3', 'TN15_4', 'TN15_5',
       'TN15_6', 'TN15_7', 'TN15_8', 'HH4', 'HH5D', 'HH5M', 'HH5Y', 'HH6',
       'HH7', 'MLINE', 'FLINE', 'caretakerdis', 'helevel', 'melevel',
       'felevel', 'schage', 'hhweight', 'wscore', 'windex5', 'windex10',
       'wscoreu', 'windex5u', 'windex10u', 'wscorer', 'windex5r', 'windex10r',
       'PSU', 'stratum'],
      dtype='object')

In [5]:
df.isnull().sum()

HH1              0
HH2              0
HL1              0
HL3              0
HL4              0
             ...
wscorer      21382
windex5r     21382
windex10r    21382
PSU          82875
stratum      82875
Length: 96, dtype: int64

In [6]:
df['TN3'].value_counts()

TN3
OBSERVEE        46813
NON OBSERVEE     2490
Name: count, dtype: int64

In [7]:
df['TN3'].isna().sum()

np.int64(33572)

In [8]:
import numpy as np


colonnes_50_vide = df.columns[df.isna().mean() >= 0.5]


df[colonnes_50_vide] = df[colonnes_50_vide].astype('object').where(df[colonnes_50_vide].notna(), None)


print("Colonnes très vides :", colonnes_50_vide.tolist())

print("Nombre :", len(colonnes_50_vide))

Colonnes très vides : ['HL9', 'HL13', 'HL14', 'HL15', 'HL17', 'HL18', 'HL19', 'HL33', 'HL39', 'ED8', 'ED9', 'ED10A', 'ED10B', 'ED11', 'ED12', 'ED14', 'ED15', 'ED16A', 'ED16B', 'TN12', 'TN15_4', 'TN15_5', 'TN15_6', 'TN15_7', 'TN15_8', 'wscoreu', 'windex5u', 'windex10u', 'PSU', 'stratum']
Nombre : 30

In [9]:
from collections import defaultdict
import pandas as pd


categorical_cols = [col for col in df.columns if df[col].nunique() <= 100]


value_sets = {col: set(df[col].dropna().astype(str).unique()) for col in categorical_cols}


groups = defaultdict(list)
for col, vals in value_sets.items():
    groups[frozenset(vals)].append(col)

for vals, cols in groups.items():
    print("Valeurs :", sorted([str(v) for v in vals]))
    print("Colonnes :", cols)
    print("-" * 40)

rows = []
for vals, cols in groups.items():
    for col in cols:
        rows.append({
            "colonne": col,
            "valeurs": ",".join(sorted([str(v) for v in vals]))
        })

df_groups = pd.DataFrame(rows)


df_groups = df_groups.sort_values(by="valeurs").reset_index(drop=True)

print(df_groups)

Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
Colonnes : ['HH2']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
Colonnes : ['HL1', 'ED1']
----------------------------------------
Valeurs : ['AUTRE (PAS DE RELATION)', 'AUTRE PARENT', 'BEAU-FILS / BELLE-FILLE', 'BEAU-FRER / BELLE-SOEUR', 'BEAUX-PARENTS', 'CHEF', 'CONJOINT / PARTENAIRE', 'DOMESTIQUE (VIT DANS LE MENAGE)', 'ENFANT ADOPTE / CONFIE / ENFANT DU CONJOINT', 'FILS / FILLE', 'FRERE / SOEUR', 'NEVEU / NIECE', 'NSP', 'ONCLE / TANTE', 'PARENT', 'PETIT-ENFANT']
Colonnes : ['HL3']
----------------------------------------
Valeurs : ['FEMININ', 'MASCULIN']
Colonnes : ['HL4']
----------------------------------------
Valeurs : ['AOUT', 'AVRIL', 'DECEMBRE', 'FÉVRIER', 'JANVIER', 'JUILLET', 'JUIN', 'MAI', 'MARS', 'NON REPONSE', 'NOVEMBRE', 'NSP', 'OCTOBRE', 'SEPTEMBRE']
Colonnes : ['HL5M']
----------------------------------------
Valeurs : ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '3.0', '30.0', '31.0', '32.0', '33.0', '34.0', '35.0', '36.0', '37.0', '38.0', '39.0', '4.0', '40.0', '41.0', '42.0', '43.0', '44.0', '45.0', '46.0', '47.0', '48.0', '49.0', '5.0', '50.0', '51.0', '52.0', '53.0', '54.0', '55.0', '56.0', '57.0', '58.0', '59.0', '6.0', '60.0', '61.0', '62.0', '63.0', '64.0', '65.0', '66.0', '67.0', '68.0', '69.0', '7.0', '70.0', '71.0', '72.0', '73.0', '74.0', '75.0', '76.0', '77.0', '78.0', '79.0', '8.0', '80.0', '81.0', '82.0', '83.0', '84.0', '85.0', '86.0', '87.0', '88.0', '89.0', '9.0', '90.0', '91.0', '92.0', '93.0', '94.0', '95+', 'NON REPONSE', 'NSP (LE MEMBRE A 50 ANS OU PLUS)']
Colonnes : ['HL6']
----------------------------------------
Valeurs : ['NON', 'OUI']
Colonnes : ['HL7', 'HL11', 'HL33', 'HL39', 'ED3', 'ED7']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '24.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'NON ELIGIBLE']
Colonnes : ['HL8']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '16.0', '18.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'NON ELIGIBLE']
Colonnes : ['HL9']
----------------------------------------
Valeurs : ['10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '22.0', '23.0', '25.0', '26.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'NON ELIGIBLE']
Colonnes : ['HL10']
----------------------------------------
Valeurs : ['NON', 'NON REPONSE', 'NSP', 'OUI']
Colonnes : ['HL12', 'HL16', 'ED6', 'ED12', 'ED14', 'ED15']
----------------------------------------
Valeurs : ['NON', 'NON REPONSE', 'OUI']
Colonnes : ['HL13', 'HL17', 'ED4', 'ED9']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '24.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
Colonnes : ['HL14']
----------------------------------------
Valeurs : ['A L’ETRANGER', 'AUTRE MENAGE DANS LA MEME REGION', 'AUTRE MENAGE DANS UNE AUTRE REGION', 'DANS UNE INSTITUTION DANS CE PAYS', 'NON REPONSE', 'NSP']
Colonnes : ['HL15', 'HL19']
----------------------------------------
Valeurs : ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0', '15.0', '2.0', '29.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
Colonnes : ['HL18']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '24.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE']
Colonnes : ['HL20']
----------------------------------------
Valeurs : ['Non', 'Oui']
Colonnes : ['HL20A']
----------------------------------------
Valeurs : [' ', '?', 'A']
Colonnes : ['HL20BA']
----------------------------------------
Valeurs : [' ', '?', 'B']
Colonnes : ['HL20BB']
----------------------------------------
Valeurs : [' ', '?', 'C']
Colonnes : ['HL20BC']
----------------------------------------
Valeurs : [' ', '?', 'D']
Colonnes : ['HL20BD']
----------------------------------------
Valeurs : [' ', '?', 'E']
Colonnes : ['HL20BE']
----------------------------------------
Valeurs : [' ', '?', 'X']
Colonnes : ['HL20BX']
----------------------------------------
Valeurs : [' ', '?']
Colonnes : ['HL20BNR']
----------------------------------------
Valeurs : ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '3.0', '30.0', '31.0', '32.0', '33.0', '34.0', '35.0', '36.0', '37.0', '38.0', '39.0', '4.0', '40.0', '41.0', '42.0', '43.0', '44.0', '45.0', '46.0', '47.0', '48.0', '49.0', '5.0', '50.0', '51.0', '52.0', '53.0', '54.0', '55.0', '56.0', '57.0', '58.0', '59.0', '6.0', '60.0', '61.0', '62.0', '63.0', '64.0', '65.0', '66.0', '67.0', '68.0', '69.0', '7.0', '70.0', '71.0', '72.0', '73.0', '74.0', '75.0', '76.0', '77.0', '78.0', '79.0', '8.0', '80.0', '81.0', '82.0', '83.0', '84.0', '85.0', '86.0', '87.0', '88.0', '89.0', '9.0', '90.0', '91.0', '92.0', '93.0', '94.0', '95.0', '98.0', '99.0']
Colonnes : ['ED2A']
----------------------------------------
Valeurs : ['NON REPONSE', 'NSP', 'PRE-SCOLAIRE', 'PRIMAIRE', 'SECONDAIRE 1', 'SECONDAIRE 2', 'SUPERIEUR']
Colonnes : ['ED5A']
----------------------------------------
Valeurs : ['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '97.0', '98.0', '99.0']
Colonnes : ['ED5B']
----------------------------------------
Valeurs : ['OUI']
Colonnes : ['ED8', 'TN13']
----------------------------------------
Valeurs : ['NSP', 'PRE-SCOLAIRE', 'PRIMAIRE', 'SECONDAIRE 1', 'SECONDAIRE 2', 'SUPERIEUR']
Colonnes : ['ED10A']
----------------------------------------
Valeurs : ['1.0', '2.0', '3.0', '4.0', '5.0', '97.0', '98.0']
Colonnes : ['ED10B']
----------------------------------------
Valeurs : ['AUTRE', 'GOUV. / PUBLIC', 'NON REPONSE', 'NSP', 'ORG. RELIGIEUSES', 'PRIVE']
Colonnes : ['ED11']
----------------------------------------
Valeurs : [' ', 'A']
Colonnes : ['ED13A']
----------------------------------------
Valeurs : [' ', 'B']
Colonnes : ['ED13B']
----------------------------------------
Valeurs : [' ', 'C']
Colonnes : ['ED13C']
----------------------------------------
Valeurs : [' ', 'X']
Colonnes : ['ED13X']
----------------------------------------
Valeurs : [' ', 'Z']
Colonnes : ['ED13Z']
----------------------------------------
Valeurs : [' ']
Colonnes : ['ED13NR']
----------------------------------------
Valeurs : ['PRE-SCOLAIRE', 'PRIMAIRE', 'SECONDAIRE 1', 'SECONDAIRE 2', 'SUPERIEUR']
Colonnes : ['ED16A']
----------------------------------------
Valeurs : ['1.0', '2.0', '3.0', '4.0', '5.0', '97.0']
Colonnes : ['ED16B']
----------------------------------------
Valeurs : ['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0']
Colonnes : ['TNLN']
----------------------------------------
Valeurs : ['NON OBSERVEE', 'OBSERVEE']
Colonnes : ['TN3']
----------------------------------------
Valeurs : ['0.0', '1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '3.0', '30.0', '31.0', '32.0', '33.0', '34.0', '35.0', '36.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'NSP / PAS SUR', 'PLUS DE 36 MOIS']
Colonnes : ['TN4']
----------------------------------------
Valeurs : ['AUTRE TYPE', 'AUTRES MARQUES', 'BESTNET/NETPROTECT', 'INTERCEPTOR', 'MILAY', 'NON REPONSE', 'NSP MARQUE', 'NSP MARQUE /TYPE', 'OLYSET', 'PERMANET', 'ROYAL SENTRY', 'SUPER MOUSTIQUAIRE', 'TSARALAY', 'YORKOOL']
Colonnes : ['TN5']
----------------------------------------
Valeurs : ['NON', 'NON REPONSE', 'NSP', 'OUI, CAMPAGNE MID', 'OUI, CPN', 'OUI, VACCINATION']
Colonnes : ['TN10']
----------------------------------------
Valeurs : ['AGENT DE SANTE COMMUNAUTAIRE', 'AUTRE', 'BOUTIQUE / MARCHE / RUE', 'CENTRE DE SANTE PRIVE', 'CENTRE DE SANTE PUBLIC', 'INSTITUTION RELIGIEUSE', 'NON REPONSE', 'NSP', 'PHARMACIE']
Colonnes : ['TN12']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '29.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M']
Colonnes : ['TN15_1']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '24.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_2']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '23.0', '24.0', '25.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_3']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '2.0', '22.0', '26.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_4']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '2.0', '21.0', '23.0', '27.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_5']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '17.0', '2.0', '25.0', '28.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_6']
----------------------------------------
Valeurs : ['10.0', '11.0', '12.0', '14.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_7']
----------------------------------------
Valeurs : ['10.0', '11.0', '12.0', '2.0', '3.0', '6.0', '8.0', 'PERSONNE NON LISTEE DANS LA LISTE DE MEMBRES DU MENAGE ET QUI A DORMI SOUS UNE M', 'PERSONNE/ PERSONNE D’AUTRE']
Colonnes : ['TN15_8']
----------------------------------------
Valeurs : ['10.0', '100.0', '110.0', '120.0', '130.0', '140.0', '150.0', '160.0', '170.0', '180.0', '190.0', '20.0', '200.0', '210.0', '220.0', '230.0', '240.0', '250.0', '260.0', '270.0', '280.0', '290.0', '30.0', '300.0', '40.0', '50.0', '60.0', '70.0', '80.0', '90.0']
Colonnes : ['HH4']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0', '26.0', '27.0', '28.0', '29.0', '3.0', '30.0', '31.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0']
Colonnes : ['HH5D']
----------------------------------------
Valeurs : ['10.0', '11.0', '12.0', '8.0', '9.0']
Colonnes : ['HH5M']
----------------------------------------
Valeurs : ['2018.0']
Colonnes : ['HH5Y']
----------------------------------------
Valeurs : ['RURAL', 'URBAIN']
Colonnes : ['HH6']
----------------------------------------
Valeurs : ['ALAOTRA MANGORO', "AMORON'I MANIA", 'ANALAMANGA', 'ANALANJIROFO', 'ANDROY', 'ANOSY', 'ATSIMO ANDREFANA', 'ATSIMO ATSINANANA', 'ATSINANANA', 'BETSIBOKA', 'BOENY', 'BONGOLAVA', 'DIANA', 'HAUTE MATSIATRA', 'IHOROMBE', 'ITASY', 'MELAKY', 'MENABE', 'SAVA', 'SOFIA', 'VAKINANKARATRA', 'VATOVAVY FITOVINANY']
Colonnes : ['HH7']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0', '18.0', '19.0', '2.0', '20.0', '24.0', '3.0', '30.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', '90.0']
Colonnes : ['MLINE']
----------------------------------------
Valeurs : ['1.0', '10.0', '11.0', '12.0', '13.0', '15.0', '2.0', '29.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0', 'Not in household']
Colonnes : ['FLINE']
----------------------------------------
Valeurs : ['A des difficultés fonctionnelles', 'Manquant/NSP', "N'a aucune difficulté fonctionnelle"]
Colonnes : ['caretakerdis']
----------------------------------------
Valeurs : ['Manquant/NSP', 'Primaire', 'Préscolaire ou sans instruction', 'Secondaire +']
Colonnes : ['helevel', 'melevel', 'felevel']
----------------------------------------
Valeurs : ['Le plus pauvre', 'Le plus riche', 'Moyen', 'Quatrième', 'Second']
Colonnes : ['windex5', 'windex5u', 'windex5r']
----------------------------------------
Valeurs : ['10th decile', '1st decile', '2nd decile', '3rd decile', '4th decile', '5th decile', '6th decile', '7th decile', '8th decile', '9th decile']
Colonnes : ['windex10', 'windex10u', 'windex10r']
----------------------------------------
Valeurs : []
Colonnes : ['PSU', 'stratum']
----------------------------------------
    colonne                                            valeurs
0   stratum
1       PSU
2    ED13NR
3   HL20BNR                                                 ,?
4    HL20BA                                               ,?,A
..      ...                                                ...
84    HL20A                                            Non,Oui
85     TN13                                                OUI
86      ED8                                                OUI
87    ED16A  PRE-SCOLAIRE,PRIMAIRE,SECONDAIRE 1,SECONDAIRE ...
88      HH6                                       RURAL,URBAIN

[89 rows x 2 columns]

In [10]:
df.describe().round(2)

,HH1,HH2,HL1,ED1,ED2A,ED5B,TNLN,HH4,HH5D,HH5M,HH5Y,hhweight,wscore,wscorer
count,82875.00,82875.00,82875.00,82875.00,82875.00,52437.00,49303.00,82875.00,82875.00,82875.00,82875.0,82875.00,82875.00,61493.00
mean,394.08,13.32,3.46,3.46,21.83,3.35,1.52,155.85,16.32,9.73,2018.0,0.97,-0.06,-0.03
std,228.86,7.50,2.33,2.33,18.33,6.52,0.82,87.16,8.83,0.98,0.0,0.68,0.96,0.98
min,1.00,1.00,1.00,1.00,0.00,1.00,1.00,10.00,1.00,8.00,2018.0,0.06,-1.50,-1.36
25%,194.00,7.00,2.00,2.00,7.00,2.00,1.00,80.00,9.00,9.00,2018.0,0.56,-0.73,-0.67
50%,380.00,13.00,3.00,3.00,17.00,3.00,1.00,160.00,17.00,10.00,2018.0,0.83,-0.43,-0.32
75%,603.00,20.00,5.00,5.00,33.00,4.00,2.00,230.00,24.00,11.00,2018.0,1.21,0.26,0.30
max,800.00,27.00,30.00,30.00,99.00,99.00,8.00,300.00,31.00,12.00,2018.0,7.03,5.01,8.42

In [11]:
vars_types = pd.DataFrame({
    "variable": df.columns,
    "type": df.dtypes.astype(str)
})


vars_types

            variable      type
HH1              HH1   float64
HH2              HH2   float64
HL1              HL1   float64
HL3              HL3  category
HL4              HL4  category
...              ...       ...
wscorer      wscorer   float64
windex5r    windex5r  category
windex10r  windex10r  category
PSU              PSU    object
stratum      stratum    object

[96 rows x 2 columns]