In [1]:
import init_notebooks
from data.load_data import load_data 
from data.preprocessing import drop_taget_nan , drop_feature, drop_50_nan, car_code
from features.build_features import lat_log

In [2]:
df = load_data('raw')

df.head()

,HH1,HH2,HL1,HL3,HL4,HL5M,HL5Y,HL6,HL7,HL8,...,windex5,windex10,wscoreu,windex5u,windex10u,wscorer,windex5r,windex10r,PSU,stratum
0,1.0,1.0,1.0,CHEF,MASCULIN,NSP,1977.0,41.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,2.0,CONJOINT / PARTENAIRE,FEMININ,JUIN,1979.0,39.0,OUI,2.0,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
2,1.0,1.0,3.0,FILS / FILLE,MASCULIN,JANVIER,2001.0,17.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,4.0,FILS / FILLE,FEMININ,SEPTEMBRE,2003.0,14.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN
4,1.0,1.0,5.0,FILS / FILLE,FEMININ,AVRIL,2006.0,12.0,OUI,NON ELIGIBLE,...,Le plus riche,9th decile,0.601981,Moyen,6th decile,NaN,NaN,NaN,NaN,NaN

In [3]:
df = drop_taget_nan(df)

In [4]:
df = drop_feature(df)

In [5]:
df = drop_50_nan(df)

In [6]:
df['TN3'].value_counts()

TN3
OBSERVEE        46813
NON OBSERVEE     2490
Name: count, dtype: int64

In [7]:
df.isna().sum()

HH1             0
HH2             0
TN3             0
HH6             0
HH7             0
helevel         0
melevel     24589
felevel     24589
schage          0
hhweight        0
wscore          0
windex5         0
dtype: int64

In [8]:
df['melevel'] = df['melevel'].fillna(df['melevel'].mode()[0])
df['felevel'] = df['felevel'].fillna(df['felevel'].mode()[0])

In [9]:
df  = lat_log(df)

In [10]:
df = car_code(df)

In [11]:
df.shape

(49303, 14)

In [12]:
df.columns

Index(['HH1', 'HH2', 'TN3', 'HH6', 'HH7', 'helevel', 'melevel', 'felevel',
       'schage', 'hhweight', 'wscore', 'windex5', 'lat', 'lon'],
      dtype='object')

In [ ]:
rename_dict = {
    'HH7': 'Region',
    'HH1': 'Numero_grappe',
    'hhweight': 'Poids_echantillon',
    'wscore': 'Score_richesse',
    'HH2': 'Numero_menage',
    'schage': 'Age_scolarisation',
    'windex5': 'Quintile_richesse',
    'helevel': 'Instruction_chef',
    'felevel': 'Instruction_pere',
    'HH6': 'Milieu_urbain_rural',
    'melevel': 'Instruction_mere'
}


df = df.rename(columns=rename_dict)

In [14]:
from features.build_features import feature_engineering

df  = feature_engineering(df)

In [15]:
df.head()

,Numero_grappe,Numero_menage,TN3,Milieu_urbain_rural,Region,Instruction_chef,Instruction_mere,Instruction_pere,Age_scolarisation,Poids_echantillon,...,Quintile_richesse,lat,lon,enfants,adultes,presence_parents_x,ratio_enfants_adultes,niveau_education_max,presence_parents_y,taille_menage
0,1.0,9.0,OBSERVEE,0,2,3,1,1,24,1.437962,...,3,-18.9,47.5,0,1,0,0.695652,3,0,39
1,1.0,9.0,OBSERVEE,0,2,3,1,1,31,1.437962,...,3,-18.9,47.5,0,1,0,0.695652,3,0,39
2,1.0,9.0,OBSERVEE,0,2,3,1,3,13,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,0,39
3,1.0,9.0,OBSERVEE,0,2,3,1,3,0,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,0,39
4,1.0,9.0,OBSERVEE,0,2,3,1,3,16,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,0,39

In [ ]:
df = df.rename(columns={
    'Instruction_chef':'Niveau_edu_chef',
    'Instruction_mere':'Niveau_edu_mere',
    'Instruction_pere':'Niveau_edu_pere',
    'Age_scolarisation':'Age',
    'Poids_echantillon':'Poids_menage',
    'Score_richesse':'Score_richesse_menage',
    'Quintile_richesse':'Quintile_richesse_menage',
    'presence_parents_x':'Presence_parents',
    'presence_parents_y':'Presence_parents_menage'
})


cols = ['Numero_grappe','Numero_menage','TN3','Milieu_urbain_rural','Region',
        'Niveau_edu_chef','Niveau_edu_mere','Niveau_edu_pere','Age',
        'Poids_menage','Score_richesse_menage','Quintile_richesse_menage',
        'lat','lon','enfants','adultes','Presence_parents','ratio_enfants_adultes',
        'niveau_education_max','taille_menage','Presence_parents_menage']

df_clean = df[cols].copy()

In [17]:
df_clean.columns

Index(['Numero_grappe', 'Numero_menage', 'TN3', 'Milieu_urbain_rural',
       'Region', 'Niveau_edu_chef', 'Niveau_edu_mere', 'Niveau_edu_pere',
       'Age', 'Poids_menage', 'Score_richesse_menage',
       'Quintile_richesse_menage', 'lat', 'lon', 'enfants', 'adultes',
       'Presence_parents', 'ratio_enfants_adultes', 'niveau_education_max',
       'taille_menage', 'Presence_parents_menage'],
      dtype='object')

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
import os

os.makedirs('../data/processed', exist_ok=True)

train_df, test_df = train_test_split(df_clean, test_size=0.2, random_state=42, stratify=df["TN3"]) 

train_df.to_csv('../data/processed/train.csv', index=False)
test_df.to_csv('../data/processed/test.csv', index=False)

print("Train et Test CSV créés avec succès.")

Train et Test CSV créés avec succès.

In [19]:
df_clean.columns

Index(['Numero_grappe', 'Numero_menage', 'TN3', 'Milieu_urbain_rural',
       'Region', 'Niveau_edu_chef', 'Niveau_edu_mere', 'Niveau_edu_pere',
       'Age', 'Poids_menage', 'Score_richesse_menage',
       'Quintile_richesse_menage', 'lat', 'lon', 'enfants', 'adultes',
       'Presence_parents', 'ratio_enfants_adultes', 'niveau_education_max',
       'taille_menage', 'Presence_parents_menage'],
      dtype='object')

In [20]:
df_clean.head()

,Numero_grappe,Numero_menage,TN3,Milieu_urbain_rural,Region,Niveau_edu_chef,Niveau_edu_mere,Niveau_edu_pere,Age,Poids_menage,...,Quintile_richesse_menage,lat,lon,enfants,adultes,Presence_parents,ratio_enfants_adultes,niveau_education_max,taille_menage,Presence_parents_menage
0,1.0,9.0,OBSERVEE,0,2,3,1,1,24,1.437962,...,3,-18.9,47.5,0,1,0,0.695652,3,39,0
1,1.0,9.0,OBSERVEE,0,2,3,1,1,31,1.437962,...,3,-18.9,47.5,0,1,0,0.695652,3,39,0
2,1.0,9.0,OBSERVEE,0,2,3,1,3,13,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,39,0
3,1.0,9.0,OBSERVEE,0,2,3,1,3,0,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,39,0
4,1.0,9.0,OBSERVEE,0,2,3,1,3,16,1.437962,...,3,-18.9,47.5,1,0,0,0.695652,3,39,0